.kks{
    background-color: #57b4ba;
    color: #fdfbee;
    font-weight:600; 
    font-family: "Poppins", sans-serif;
}

.wake{
    /* background-color: #57b4ba;
    color: #fdfbee; */
    font-weight:600; 
    font-family: "Poppins", sans-serif;
}