*{
    color: #ff2a00;
    font-weight:bolder; 
    font-family: "Poppins", sans-serif;
}

.lol{
    background-color: #ff2a00;
    color: aliceblue;
}
.bb{
    color: #57b4ba;
    font-size:smaller;
    font-weight: 600;
}